$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

:local(.header) {
	background: red;
}

.masthead {
	background: #428bca;

	&, h4, h5 {
		line-height: 50px;
		height: 50px;
		margin: 0;
	}

	a, a:hover, a:active {
		color: #fff;
		text-decoration: none;
	}

	.brand {
		float: left;

		a:hover .icon {
			color: #333;
		}
		
	}

	.author {
		float: right;
		color: #CCCCCC;
		font-style: italic;
		font-weight: 200;

		a:hover {
			color: #FFFFFF;
			text-decoration: underline;
		}
	}
}